body {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, header {
    width: 85vw;
    margin: 0 auto;
}
button {
    padding: 14px 32px;
    background-color: #2C3878;
    color: #fff;
    border: 0px;
}
button:hover {
    cursor: pointer;
}

/* header */

.logo {
    font-size: 31px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    margin-right: 42px;
}
li > a {
    color: #333333;
    text-decoration: none;
}
.nav-number {
    color: white;
    margin: 0;
    padding: 14px 32px;
    background-color: #2C3878;
}
.nav-number:hover {
    cursor: pointer;
}
.mobail {
    background-color: #2C3878;
    padding: 12px 20px;
    display: none;
    cursor: pointer;
}

/* preview-cart*/

.preview-cart h1 {
    font-size: 72px;
    color: #333333;
}
.preview-cart h1::after {
    content: "";
    display: block;
    width: 55%;
    height: 2px;
    background-color: black;
    position: relative;
    top: -220px;
    left: 740px;
}
.preview-cart p {
    margin-top: 80px;
    width: 40%;
    font-size: 18px;
    color: #9C9C9C;
    hyphens: auto;
}
.info {
    background-color: #2C3878;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 330px;
    right: 285px;
}
.container-info {
    padding: 50px 45px 60px 45px;
    text-align: center;
}
.string-info {
    display: flex;
    flex-direction: column;
}
.main-info {
    font-size: 48px;
    color: white;
}
.second-info {
    color: white;
}
.preview-cart img {
    width: 100%;
}
.mobail-button {
    display: none;
}

/* location */

.project-text {
    width: 36.5%;
    margin-top: 100px;
}
.project-text span {
    font-weight: 500;
}
.project-text span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 78%;
    height: 2px;
    background-color: black;
    margin-left: 130px;
}
.fullscrin {
    width: 99.8vw;
    position: relative;
    top: 25px;
    left: -148px;
    overflow: hidden;
}
.fullscrin iframe {
    width: 100%;
    display: block;
}


/* infrastructure */

.infrastructure {
    
    margin-top: 100px;
}
.heading-container {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.heading-container span {
    font-weight: 500;
}
.heading-container span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 52%;
    height: 2px;
    background-color: black;
    margin-left: 170px;
}
.heading {
    font-size: 32px;
}
.infrastructure-cart {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
}
.cart-text {
    width: 250px;
    position: relative;
    left: 20px;
    top: 226px;
    font-size: 18px;
    font-weight: 600;

}
.cart .cart-text {
    width: 300px;
}
.cart-two .cart-text {
    position: relative;
    left: 20px;
    top: 490px;
}
.cart-four .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart-five .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart-six .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart {
    background-image: url(/img/image\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1 / 3;
    color: #fff;
    
}
.cart-two {
    background-image: url(/img/image\ 5\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    color: #fff;
}
.cart-three {
    background-image: url(/img/image\ 5\ \(2\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-four {
    background-image: url(/img/image\ 5\ \(4\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-five {
    background-image: url(/img/image\ 5\ \(5\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-six {
    background-image: url(/img/image\ 5\ \(3\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* details */

.details {
    margin-top: 100px;
}
.heading-container-details {
    width: 32%;
}
.heading-container-details span {
    font-weight: 500;
}
.heading-container-details span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 82%;
    height: 2px;
    background-color: black;
    margin-left: 110px;
}
.details-container {
    display: flex;
    align-items: center;
}
.details-container ul {
    width: 550px;
    font-size: 18px;
    color: #9C9C9C;
    padding-left: 25px;
}
.details-container ul li {
    margin-bottom: 5px;
}
.download {
    margin-top: 46px;
}


/* footer */

footer {
    color: #fff;
    margin-top: 135px;
    background-color: #2C3878;
}
.footer-contant {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 0px 45px 0px;
}
.left-footer, .right-footer {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.left-footer span {
    font-size: 32px;   
}
.left-footer span:first-child {
    font-weight: 600;
    margin-bottom: 150px;
}
.right-footer input {
    border: #fff 1px solid;
    background-color: #2C3878;
    color: #fff;
    width: 334px;
    height: 50px;
    margin-bottom: 20px;
}
.right-footer input::placeholder {
    font-family: 'Montserrat';
    position: relative;
    left: 15px;
    color:rgba(255, 255, 255, 0.7);
}
.footer-button {
    width: 244px;
    background-color: #fff;
    color: black;
    padding: 14px 32px;
    margin-bottom: 110px;
}
.footer-number {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
}