body {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, header {
    width: 85vw;
    margin: 0 auto;
}
button {
    padding: 14px 32px;
    background-color: #2C3878;
    color: #fff;
    border: 0px;
}
button:hover {
    cursor: pointer;
}

/* header */

.logo {
    
    font-size: 31px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    margin-right: 42px;
}
li > a {
    color: #333333;
    text-decoration: none;
}
.nav-number {
    color: white;
    margin: 0;
    padding: 14px 32px;
    background-color: #2C3878;
}
.nav-number:hover {
    cursor: pointer;
}
.mobail {
    background-color: #2C3878;
    padding: 12px 20px;
    display: none;
    cursor: pointer;
}

/* preview-cart*/

.preview-cart h1 {
    font-size: 52px;
    color: #333333;
}
.preview-cart h1::after {
    content: "";
    display: block;
    width: 56.5%;
    height: 2px;
    background-color: black;
    position: relative;
    top: -90px;
    left: 710px;
}
.preview-cart p {
    margin-top: 80px;
    width: 40%;
    font-size: 18px;
    color: #9C9C9C;
    hyphens: auto;
}
.info {
    background-color: #2C3878;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 235px;
    right: 285px;
}
.container-info {
    padding: 55px 30px;
    text-align: center;
}
.string-info {
    display: flex;
    flex-direction: column;
}
.main-info {
    font-size: 48px;
    color: white;
}
.second-info {
    color: white;
}
.preview-cart img {
    width: 100%;
}
.mobail-button {
    display: none;
}

/* layourts */
.project-text {
    width: 36.5%;
    margin-top: 100px;
    margin-bottom: 40px;
}
.project-text span {
    font-weight: 500;
}
.project-text span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 78%;
    height: 2px;
    background-color: black;
    margin-left: 140px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 610px);
    column-gap: 30px;
    row-gap: 35px;
    justify-content: center;
    margin-bottom: 100px;
}
.card img {
    width: 450px;
}
.card span {
    font-size: 24px;
    font-weight: 500;
}
.card p {
    color: #9C9C9C;
    font-size: 18px;
    margin-bottom: 50px;
}

/* fullscrin */

.fullscrin {
    width: 99.8vw;
    position: relative;
    top: 25px;
    left: -148px;
    overflow: hidden;
}
.fullscrin img {
    width: 100%;
    display: block;
}

/* details */

.details {
    margin-top: 100px;
}
.heading-container-details {
    width: 32%;
}
.heading-container-details span {
    font-weight: 500;
}
.heading-container-details span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 82%;
    height: 2px;
    background-color: black;
    margin-left: 110px;
}
.details-container {
    display: flex;
    align-items: center;
}
.details-container ul {
    width: 550px;
    font-size: 18px;
    color: #9C9C9C;
    padding-left: 25px;
}
.details-container ul li {
    margin-bottom: 5px;
}
.download {
    margin-top: 46px;
}

/* footer */

footer {
    color: #fff;
    margin-top: 135px;
    background-color: #2C3878;
}
.footer-contant {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 0px 45px 0px;
}
.left-footer, .right-footer {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.left-footer span {
    font-size: 32px;   
}
.left-footer span:first-child {
    font-weight: 600;
    margin-bottom: 150px;
}
.right-footer input {
    border: #fff 1px solid;
    background-color: #2C3878;
    color: #fff;
    width: 334px;
    height: 50px;
    margin-bottom: 20px;
}
.right-footer input::placeholder {
    font-family: 'Montserrat';
    position: relative;
    left: 15px;
    color:rgba(255, 255, 255, 0.7);
}
.footer-button {
    width: 244px;
    background-color: #fff;
    color: black;
    padding: 14px 32px;
    margin-bottom: 110px;
}
.footer-number {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
}

@media (max-width: 1100px) {
    .logo {
        font-size: 20px;
    }
    nav ul li:first-child {
        display: none;
    }

    /* preview-cart*/

    .preview-cart h1 {
        font-size: 32px;
    }
    .preview-cart h1::after {
        width: 49%;
        top: -55px;
        left: 440px;
    }
    .info {
        position: absolute;
        right: 76px;
        top: 214px;
    }
    .container-info {
        padding: 35px 45px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .string-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .info-none {
        margin-right: 0px;
    }
    .main-info {
        font-size: 40px;
    }
    .preview-cart p {
        width: 80%;
        margin-top: 50px;
    }

    /* layouts */

    .project-text {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .project-text span::after {
        width: 100%;
        margin-left: 150px;
    }
    .cards {
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: repeat(3, 610px);
    }
    .card button {
        width: 200px;
        font-size: 16px;
    }
    .fullscrin {
        width: 99.8vw;
        position: relative;
        left: -75px;
        overflow: hidden;
    }

    /* details */

    .heading-container-details {
        width: 56%;
    }
        .heading-container-details span::after {
        width: 100%;
    }

    /* footer */

    footer {
        height: 724px;
        margin-top: 266px;
    }
    .footer-contant {
        padding: 121px 0px 70px 0px;
        display: grid;
        grid-template-areas: 
        "footer-text footer-text"
        "footer-form"
        "footer-logo footer-number";
    }
    .left-footer span:first-child {
        margin-bottom: 20px;
    }
    .left-footer .footer-text {
        grid-area: "footer-text";
    }
    .left-footer .footer-logo {
        margin-bottom: 20px;
        grid-area: "footer-logo";
    }
    .right-footer .footer-form {
        grid-area: "footer-form";
    }
    .right-footer .footer-number {
        grid-area: "footer-number";
    }
    .footer-button {
        margin-bottom: 65px;
    }
}

@media (max-width: 450px) {
    main, header {
        width: 90vw;
    }
    header {
        margin-bottom: 30px;
    }
    .header-nav {
        margin-top: 20px;
    }
    nav ul li {
        display: none;
    }
    nav {
        display: flex;
    }
    .mobail {
        display: block;
    }

    /* preview-cart*/

    .preview-cart h1 {
        font-size: 24px;
    }
    .preview-cart h1::after {
        width: 0px;
    }
    .info {
        top: 175px;
        right: 19px;
    }
    .container-info {
        padding: 20px 15px;
    }
    .main-info {
        font-size: 20px;
    }
    .second-info {
        font-size: 8px;
    }

    /* layouts */

    .project-text {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .project-text span::after {
        width: 85%;
        margin-left: 140px;
    }
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 560px);
    }
    .card span {
        margin-top: 30px;
    }
    .card img {
        width: 350px;
    }
    .card button {
        width: 100%;
        font-size: 14px;
    }
    .card p {
        margin-bottom: 15px;
    }
    .fullscrin {
        width: 99.8vw;
        position: relative;
        left: -19px;
        overflow: hidden;
    }

    /* details */

    .details {
        margin-top: 50px;
    }
    .heading-container-details {
        width: 100%;
    }
    .heading-container-details span {
        font-size: 12px;
    }
    .heading-container-details span::after {
        margin-top: -8.5px;
        width: 76%;
        margin-left: 82px;
    }
    .heading:last-child {
        width: 305px;
    }
    .details-container {
        flex-direction: column;
        align-items: start;
    }
    .details-container ul {
        width: 350px;
        font-size: 16px;
        margin-bottom: 26px;
        box-sizing: border-box;
    }
    .download {
        margin-top: 36px;
    }
    /* footer */

    footer {
        margin-top: 115px;
    }
    .footer-contant {
        padding: 108px 0px 27px 0px;
    }
    .left-footer span {
        font-size: 20px;   
    }
    .left-footer span:first-child {
        margin-bottom: 50px;
    }
    .left-footer, .right-footer {
        width: 100%;
    }
    .footer-logo {
        font-size: 24px;
    }
    .footer-number {
        font-size: 24px;
    }
    
}