body {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, header {
    width: 85vw;
    margin: 0 auto;
}

/* header */

.logo {
    
    font-size: 31px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    margin-right: 42px;
}
li > a {
    color: #333333;
    text-decoration: none;
}
.nav-number {
    color: white;
    margin: 0;
    padding: 14px 32px;
    background-color: #2C3878;
}
.nav-number:hover {
    cursor: pointer;
}
.mobail {
    background-color: #2C3878;
    padding: 12px 20px;
    display: none;
    cursor: pointer;
}

/* preview-cart*/

.preview-cart h1 {
    font-size: 72px;
    color: #333333;
}
.preview-cart h1::after {
    content: "";
    display: block;
    width: 55%;
    height: 2px;
    background-color: black;
    position: relative;
    top: -220px;
    left: 740px;
}
.info {
    background-color: #2C3878;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 255px;
    right: 285px;
}
.container-info {
    padding: 45px 31px;
    text-align: center;
}
.string-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
}
.main-info {
    font-size: 48px;
    color: white;
}
.second-info {
    color: white;
}
.preview-cart img {
    width: 100%;
}
.mobail-button {
    display: none;
}

/* about-projects */

.project-text {
    width: 36.5%;
    margin-top: 100px;
}
.project-text > div {
    display: flex;
    flex-direction: column;

}
.project-text div > span {
    font-weight: 500;
}
.project-text div > span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 78%;
    height: 2px;
    background-color: black;
    margin-left: 110px;
}
.heading {
    font-size: 32px;
    font-weight: 600;
}
.about-projects p {
    font-size: 18px;
    color: #9C9C9C;
    hyphens: auto;
}
.advantages {
    width: 100%;
    padding: 55px 62px;
    background-color: #2C3878;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}
.advantages .advantages-cart:nth-child(even) {
    margin-right: 0;
}
.advantages-cart {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 25px;
}
.advantages-cart span {
    width: 320px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}
.two-project-text {
    width: 45%;
    margin-top: 85px;
    margin-bottom: 165px;
    position: relative;
    left: 900px;
}
button {
    padding: 14px 32px;
    background-color: #2C3878;
    color: #fff;
    border: 0px;
}
button:hover {
    cursor: pointer;
}
.fullscrin {
    width: 99.8vw;
    position: relative;
    left: -148px;
    overflow: hidden;
}
.fullscrin img {
    width: 100%;
    display: block;
}

/* infrastructure */

.infrastructure {
    
    margin-top: 100px;
}
.heading-container {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.heading-container span {
    font-weight: 500;
}
.heading-container span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 52%;
    height: 2px;
    background-color: black;
    margin-left: 170px;
}
.heading {
    font-size: 32px;
}
.infrastructure-cart {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
}
.cart-text {
    width: 250px;
    position: relative;
    left: 20px;
    top: 226px;
    font-size: 18px;
    font-weight: 600;

}
.cart .cart-text {
    width: 300px;
}
.cart-two .cart-text {
    position: relative;
    left: 20px;
    top: 490px;
}
.cart-four .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart-five .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart-six .cart-text {
    position: relative;
    left: 20px;
    top: 204px;
}
.cart {
    background-image: url(/img/image\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1 / 3;
    color: #fff;
    
}
.cart-two {
    background-image: url(/img/image\ 5\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    color: #fff;
}
.cart-three {
    background-image: url(/img/image\ 5\ \(2\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-four {
    background-image: url(/img/image\ 5\ \(4\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-five {
    background-image: url(/img/image\ 5\ \(5\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.cart-six {
    background-image: url(/img/image\ 5\ \(3\).png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* details */

.details {
    margin-top: 100px;
}
.heading-container-details {
    width: 32%;
}
.heading-container-details span {
    font-weight: 500;
}
.heading-container-details span::after {
    content: "";
    display: block;
    margin-top: -10px;
    width: 82%;
    height: 2px;
    background-color: black;
    margin-left: 110px;
}
.details-container {
    display: flex;
    align-items: center;
}
.details-container ul {
    width: 550px;
    font-size: 18px;
    color: #9C9C9C;
    padding-left: 25px;
}
.details-container ul li {
    margin-bottom: 5px;
}
.download {
    margin-top: 46px;
}

/* footer */

footer {
    color: #fff;
    margin-top: 135px;
    background-color: #2C3878;
}
.footer-contant {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 0px 45px 0px;
}
.left-footer, .right-footer {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.left-footer span {
    font-size: 32px;   
}
.left-footer span:first-child {
    font-weight: 600;
    margin-bottom: 150px;
}
.right-footer input {
    border: #fff 1px solid;
    background-color: #2C3878;
    color: #fff;
    width: 334px;
    height: 50px;
    margin-bottom: 20px;
}
.right-footer input::placeholder {
    font-family: 'Montserrat';
    position: relative;
    left: 15px;
    color:rgba(255, 255, 255, 0.7);
}
.footer-button {
    width: 244px;
    background-color: #fff;
    color: black;
    padding: 14px 32px;
    margin-bottom: 110px;
}
.footer-number {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
}

@media (max-width: 1100px) {
    .logo {
        font-size: 20px;
    }
    nav ul li:first-child {
        display: none;
    }

    /* preview-cart*/

    .preview-cart h1 {
        font-size: 40px;
    }
    .preview-cart h1::after {
        width: 52%;
        top: -120px;
        left: 420px;
    }
    .info {
        position: relative;
        top: 0px;
        right: 0px;
    }
    .container-info {
        padding: 35px 60px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .string-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .info-none {
        margin-right: 0px;
    }
    .main-info {
        font-size: 40px;
    }

    /* about-projects */

    .project-text {
        width: 80%;
    }
    .project-text div > span::after {
        width: 73%;
    }
    .advantages {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .two-project-text {
        width: 80%;
        margin-top: 85px;
        margin-bottom: 165px;
        left: 0px;
    }
    .fullscrin {
        width: 99.8vw;
        position: relative;
        left: -75px;
        overflow: hidden;
    }

    /* infrastructure */

    .heading-container {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .heading-container span::after {
        width: 68%;
    }
    .infrastructure-cart {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 300px);
    }
    .cart {
        grid-column: 1 / 3;
    }
    .cart-two {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    /* details */

    .heading-container-details {
        width: 56%;
    }
        .heading-container-details span::after {
        width: 100%;
    }

    /* footer */

    footer {
        height: 724px;
        margin-top: 266px;
    }
    .footer-contant {
        padding: 121px 0px 70px 0px;
        display: grid;
        grid-template-areas: 
        "footer-text footer-text"
        "footer-form"
        "footer-logo footer-number";
    }
    .left-footer span:first-child {
        margin-bottom: 20px;
    }
    .left-footer .footer-text {
        grid-area: "footer-text";
    }
    .left-footer .footer-logo {
        margin-bottom: 20px;
        grid-area: "footer-logo";
    }
    .right-footer .footer-form {
        grid-area: "footer-form";
    }
    .right-footer .footer-number {
        grid-area: "footer-number";
    }
    .footer-button {
        margin-bottom: 65px;
    }
}

@media (max-width: 450px) {
    main, header {
        width: 90vw;
    }
    header {
        margin-bottom: 30px;
    }
    .header-nav {
        margin-top: 20px;
    }
    nav ul li {
        display: none;
    }
    nav {
        display: flex;
    }
    .mobail {
        display: block;
    }

    /* preview-cart*/

    .preview-cart h1 {
        font-size: 24px;
    }
    .preview-cart h1::after {
        width: 0px;
    }
    .container-info {
        padding: 20px 15px;
    }
    .main-info {
        font-size: 20px;
    }
    .second-info {
        font-size: 8px;
    }
    .mobail-button {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    /* about-projects */

    .project-text {
        width: 100%;
        margin-top: 50px;
    }
    .project-text div > span::after {
        width: 76%;
        margin-top: -8px;
        margin-left: 80px;
    }
    .heading {
        font-size: 20px;
    }
    .project-text div > span {
        font-size: 12px;
    }
    .about-projects p {
        font-size: 16px;
    }
    .advantages {
        padding: 61px 26px;
    }
    .advantages-cart img {
        width: 70px;
    }
    .advantages-cart span {
        width: 193px;
        font-size: 16px;
    }
    .two-project-text {
        margin-top: 60px;
        width: 85%;
        margin-bottom: 78px;
    }
    .fullscrin {
        left: -19px;
    }

    /* infrastructure */

    .infrastructure {
        margin-top: 50px;
    }
    .heading-container {
        width: 100%;
    }
    .heading-container span {
        font-size: 12px;
    }
    .heading-container span::after {
        margin-top: -8px;
        width: 63%;
        margin-left: 125px;
    }
    .infrastructure-cart {
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, 300px);
    }
    .cart {
        grid-column: 1 / 2;
    }
    .cart-two {
        grid-row: 4 / 6;
    }

    /* details */

    .details {
        margin-top: 50px;
    }
    .heading-container-details {
        width: 100%;
    }
    .heading-container-details span {
        font-size: 12px;
    }
    .heading-container-details span::after {
        margin-top: -8.5px;
        width: 76%;
        margin-left: 82px;
    }
    .heading:last-child {
        width: 305px;
    }
    .details-container {
        flex-direction: column;
        align-items: start;
    }
    .details-container ul {
        width: 350px;
        font-size: 16px;
        margin-bottom: 26px;
        box-sizing: border-box;
    }
    .download {
        margin-top: 36px;
    }
    /* footer */

    footer {
        margin-top: 115px;
    }
    .footer-contant {
        padding: 108px 0px 27px 0px;
    }
    .left-footer span {
        font-size: 20px;   
    }
    .left-footer span:first-child {
        margin-bottom: 50px;
    }
    .left-footer, .right-footer {
        width: 100%;
    }
    .footer-logo {
        font-size: 24px;
    }
    .footer-number {
        font-size: 24px;
    }
    
}